@mixin position($mx-position,$mx-top,$mx-right,$mx-bottom,$mx-left){
    position: $mx-position;
    top: $mx-top;
    right: $mx-right;
    bottom: $mx-bottom;
    left: $mx-left;
}
@mixin flex($mx-justify,$mx-align){
    display: flex;
    justify-content: $mx-justify;
    align-items: $mx-align;
}
@mixin w_h($mx-w,$mx-h){
    width: $mx-w;
    height: $mx-h;
}

.admin_table{
    width: 100%;
    border-collapse: collapse;
    &>tbody>tr>td{
        padding: 6px;
    }
}
.admin_table,
.admin_table>thead>tr,
.admin_table>thead>tr>th,
.admin_table>tbody>tr,
.admin_table>tbody>tr>td{
    border: 1px solid black;
}

.btn{
    padding:6px;
}
.paidBtn{
    background-color: green;
    color:white;
}
.unpaid{
    background-color: red;
    color:white;
}

.modal{
    @include position(fixed, 0px, 0px, 0px, 0px);
    border: 1px solid red;
    &>div{
        @include flex(center, center);
        @include w_h(100%, 100vh);
        &>.modalBody {
            background-color: white;
            @include w_h(300px, 300px);
            border: 1px solid blue;
        }
    }
}

.adminInput{
    border: 1px solid black;
}